#root {
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

Header {
  background-color: white;
}

div.NoiseReduction {
  background-color: #e6e8e6ff;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}